[Desktop Entry]
Categories=Utility;
Comment=Wechat Desktop
Comment[zh_CN]=微信桌面版
Exec=env GTK_IM_MODULE=fcitx QT_IM_MODULE=fcitx XMODIFIERS=@im=fcitx wechat %U
Icon=wechat
Name=wechat
Name[zh_CN]=微信
StartupNotify=true
Terminal=false
Type=Application
X-AppImage-Version=4.1.0
