name: "CI Checks"

on:
  push:
    branches:
      - master
    paths:
      - "**.nix"
      - "flake.lock"
      - ".github/workflows/**"

jobs:
  run-checks:
    name: "Run Flake Checks"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Free Disk Space"
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: "Set Swap Space"
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: "Install Nix"
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Run Nix Flake Check"
        env:
          GITHUB_ACTIONS: "true"
        run: nix flake check --impure --all-systems --print-build-logs
